.App {
  text-align: center;
  margin-top: 2em;
}

body {
  background-color: #282828;
  color: #ebdbb2;
}

#AmountWon, #Winners {
  text-align: left;
}

@media (min-width:300px) {
  h1 {
    font-size: 75%;
  }
}

@media (min-width:600px) {
  h1 {
    font-size: 150%;
  }
}

@media (min-width:1000px) {
  h1 {
    font-size: 250%;
  }
}

@media (min-width:2000px) {
  h1 {
    font-size: 450%;
  }
}


.section {
  text-align: left;
  max-width: 720px;
  margin: 4rem auto auto;
}

.Button {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  cursor: pointer;
  padding: 2% 3%;
  border: 3px solid #ebdbb2;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  font: normal 16px/normal "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: rgba(235,219,178,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  background: #4f4f4f;
  outline:none;
}

.Button:hover {
  color: #282828;
  background: #ebdbb2;
  outline:none;
}

.Button:active {
  color: rgba(235,219,178,1);
  background: #4f4f4f;
  outline:none;
}

.Input {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 50em;
  cursor: pointer;
  padding: 10px;
  border: 0 solid #ffffff;
  border-bottom: 4px solid #ebdbb2;
  font: normal 16px/normal "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #ebdbb2;
  -o-text-overflow: clip;
  text-overflow: clip;
  background: rgba(255,255,255,0);
  outline:none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

 #ActiveAccount {
  width: 40%;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  border: 3px solid #ebdbb2;
  -webkit-border-radius: 10px;
  height: auto;
  padding: 0px;
}

#Options {
  position: absolute;
  top: 40px;
  right: 40px;
  border: 3px solid #ebdbb2;
  -webkit-border-radius: 10px;
  height: auto;
  width: 10%;
  padding: 10px 20px;
  padding-top: 0px;
}


#JackPot {
  width: 40%;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  border: 3px solid #ebdbb2;
  -webkit-border-radius: 10px;
  height: auto;
  padding: 0px;
}

h3 {
  margin: 0px;
  font-size: 30px;
}



#Lottery {
  width: 40%;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  border: 3px solid #ebdbb2;
  -webkit-border-radius: 10px;
  height: auto;
  padding: 0px;

}

#Options li {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  direction: rtl;
  width: auto;
}

#LotteryNumbers ul {
  list-style: none;
  padding: 1%;
}

#LotteryNumbers li {
  display: inline;
  background-color: #282828;
  border: 2px solid #ebdbb2;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 3%;
  padding-right: 3%;

  margin-left: 10px;
  text-align: center;
  vertical-align: middle;
  border-radius: 20px;
}

#JackPot p {
  font-size: 30px;
}
